<h1>Hello world</h1>
<p>{{title}}</p>
<button (click)="changerTitre()">Changer le titre</button>
<br>
<!--
Le ngModel s'utilise sur un nombre limité de balises dont...
 input
 textarea
 -->
<input type="text" [(ngModel)]="content"/>
<p>{{content}}</p>
<p *ngIf="content">Il y a du texte à afficher !</p>

<button>{{content ? "Soumettre" : "Formulaire invalide"}}</button>
<br>
<select [(ngModel)]="feutricolor">
  <option value="Rouge">Rouge</option>
  <option value="Orange">Orange</option>
  <option value="Vert">Vert</option>
</select>

<p [ngClass]="{
  'green' : feutricolor === 'Vert',
  'red' : feutricolor === 'Rouge',
  'orange' : feutricolor === 'Orange',
  'bold' : content
}">{{feutricolor}}</p>

<hr>
<app-un-ptit-nom></app-un-ptit-nom>
<app-un-ptit-nom></app-un-ptit-nom>
<app-un-ptit-nom></app-un-ptit-nom>
<app-un-ptit-nom></app-un-ptit-nom>
<app-un-ptit-nom></app-un-ptit-nom>

<hr>
<app-contact-list></app-contact-list>
